/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  padding-top: 0;
}

h2 {
  color: rgb(0, 83, 128);
}

input {
  width: 200px;
  height: 30px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 250ms;
  margin-top: 5px;
}

body {
  padding-left: 15px;
  padding-right: 15px;
}

.actor-poster {
  padding: 5px;
}

.movie-poster {
  width: 200px;
  /* margin: auto; */
  margin-top: 10px;
}

h6 {
  width: 200px;
  /* color: green; */
  font-size: medium;
  margin-bottom: -5px;
  margin-top: 0;
    
}

p {
  margin-top: 10px;
}

.movies-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-x: auto;
  margin-top: 10px;
  max-height: 400px;
}

.actors-block {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  /* margin-top: 30px; */
}

.actors-posters {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  /* margin-top: 30px; */
}

.actors-info {
  width: 300px;
}

.whole-page {
  display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    margin-top: 30px;
}

.searching-block {
  width: 300px;
  border: 1px solid black;
  padding: 5px;
}

.all-found-posters {
  width: 650px;
  border: 1px solid black;
    padding: 5px;
}

.details-actor-or-movie {
  width: 500px;
  border: 1px solid black;
    padding: 5px;
}

.poster:hover {
  cursor: pointer;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.misspelled-name {
  color: red;
}

/* .add-details {
  position: relative;
  top: 200px;
} */
